services:
  db:
    image: postgres:16

    env_file:
      - .env

    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    image: ghcr.io/shaggysa/double-book:latest

    ports:
      - "8080:8080"

    env_file:
      - .env

    depends_on:
      - db

volumes:
  db-data:
