name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  IMAGE_NAME: double-book
  VERSION: build-${{ github.run_number }}

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install clippy
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --features=ssr -- -D warnings

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install fustfmt
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Run formatter
        run: cargo fmt

  build-amd64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Buildx
        run: |
          docker buildx create --use --drive docker-container
          docker builx inspect --bootstrap

      - name: Build image
        run: docker buildx build --platform linux/amd64 --output type=oci,dest=amd64.tar -t $IMAGE_NAME:${VERSION}-amd64 .

      - name: Upload amd64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: amd64-image
          path: amd64.tar

  build-arm64:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: Setup buildx
        run: |
          docker buildx create --use --drive docker-container
          docker builx inspect --bootstrap

      - name: Build image
        run: docker buildx build --platform linux/arm64 --output type=oci,dest=arm64.tar -t $IMAGE_NAME:${VERSION}-arm64 .

      - name: Upload arm64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm64-image
          path: arm64.tar

  merge_manifest:
    runs-on: ubuntu-latest
    needs: [build-amd64, build-arm64]

    steps:
      - uses: actions/checkout@v3

      - name: Download amd64 image
        uses: actions/download-artifact@v5
        with:
          name: amd64-image
          path: .

      - name: Download arm64 image
        uses: actions/download-artifact@v5
        with:
          name: arm64-image
          path: .

      - name: Load images
        run: |
          docker load < amd64.tar
          docker load < arm64.tar

      - name: Create multi-arch manifest
        run: |
          docker manifest create $IMAGE_NAME:${VERSION} \
            --amend $IMAGE_NAME:${VERSION}-amd64 \
            --amend $IMAGE_NAME:${VERSION}-arm64

      - name: Setup Buildx
        run: |
          docker buildx create --use --drive docker-container
          docker builx inspect --bootstrap

      - name: Save image as artifact
        run: |
          docker manifest inspect $IMAGE_NAME:${VERSION}

          docker buildx imagetools create \
            -t $IMAGE_NAME:${VERSION} \
            $IMAGE_NAME:${VERSION}-amd64 \
            $IMAGE_NAME:${VERSION}-arm64 \
            > /dev/null

          docker buildx imagetools insped $IMAGE_NAME:${VERSION}

          docker buildx imagetools create \
            --output=type=oci,dest=$IMAGE_NAME:${VERSION}.tar \
            $IMAGE_NAME:${VERSION}-amd64 \
            $IMAGE_NAME:${VERSION}-arm64

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: $IMAGE_NAME:${VERSION}
          path: $IMAGE_NAME:${VERSION}.tar

      - name: Remove per-arch artifacts
        uses: geekyeggo/delete-artifact@v2
        with:
          name: |
            amd64-image
            arm64-image
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-leptos
        run: cargo binstall cargo-leptos -y

      - name: Run rust tests
        run: cargo leptos test --release --features=ssr
