name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install clippy
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --features=ssr -- -D warnings

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install fustfmt
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Run formatter
        run: cargo fmt

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Generate version
        id: ver
        run: echo "VERSION=build-${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose-v2

      - name: Compose build
        run: docker compose build app

      - name: Tag image
        run: docker tag leptos-prototyping-app:latest double-book:${{ steps.ver.outputs.VERSION }}

      - name: Save image to tarball
        run: docker image save app:${{ steps.ver.outputs.VERSION }} -o double-book-${{ steps.ver.outputs.VERSION }}.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: double-book-${{ steps.ver.outputs.VERSION }}
          path: double-book.tar-${{ steps.ver.outputs.VERSION }}

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo registry
        uses: actions/checkout@v4
        with:
          path: |
            path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-leptos
        run: cargo binstall cargo-leptos -y

      - name: Run rust tests
        run: cargo leptos test --release --features=ssr
