name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rustfmt
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: rustfmt
     
    - name: Run Formatter
      run: cargo fmt --verbose
     
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache Cargo registry and build
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      
    - name: install cargo-leptos
      run: cargo install --locked cargo-leptos
      
    - name: Build
      run: cargo leptos build --release 
      
    - name: Run tests
      run: cargo test --verbose
  
  
