name: Test

on:
  push:
  pull_request:
    branches: ["main"]

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install clippy
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --features=ssr -- -D warnings

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install rustfmt
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Run formatter
        run: cargo fmt -- --check

      - uses: cargo-bins/cargo-binstall@main

      - name: Setup leptosfmt
        run: cargo binstall leptosfmt

      - name: Run leptosfmt
        run: leptosfmt --check .

  test:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-leptos
        run: cargo binstall cargo-leptos -y

      - name: Run rust tests
        run: cargo leptos test --release --features=ssr
